# Userspace program
user = "dummy"

[uefi-stub]
# Log level (trace/debug/info/warn/error/off)
log-level = "off"

[kernel]
# Log level (trace/debug/info/warn/error/off)
log-level = "off"
# Heap allocator (bump/linked list)
allocator = "linked list"
